<h1>Listing settings</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Rules</th>
    <th>Players</th>
    <th>Team</th>
    <th>Difficulty</th>
    <th>Board size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @settings.each do |setting| %>
  <tr>
    <td><%= setting.game_id %></td>
    <td><%= setting.rules %></td>
    <td><%= setting.players %></td>
    <td><%= setting.team %></td>
    <td><%= setting.difficulty %></td>
    <td><%= setting.board_size %></td>
    <td><%= link_to 'Show', setting %></td>
    <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
    <td><%= link_to 'Destroy', setting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Setting', new_setting_path %>
