<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @setting.game_id %>
</p>

<p>
  <b>Rules:</b>
  <%= @setting.rules %>
</p>

<p>
  <b>Players:</b>
  <%= @setting.players %>
</p>

<p>
  <b>Team:</b>
  <%= @setting.team %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @setting.difficulty %>
</p>

<p>
  <b>Board size:</b>
  <%= @setting.board_size %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
